body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

h1 {
    color: #333;
    text-align: center;
    margin-top: 20px;
}

.contactPhoto {
    width: 80px;
    heght: 80px;
    object-fit: cover;
    border: 2px solid #808080;
}

